
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

.link-header, .link {
  text-decoration: none;
  color: inherit;
}


.link-header:hover, .link:hover{
  color:#376b44;
}

.div {
  background-color: #f4f6f5;
  position: relative;
}

 .catalog {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  top: 50px;
  left: 165px;
}

 .frame-2 {
  display: flex;
  width: 1110px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

 .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #2c2d35;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 44px;
  white-space: nowrap;
}

 .frame-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
}

 .tab-btn {
  background-color: #376b44;
  display: inline;
  padding: 10px 20px;
  position: relative;
  border-radius: 20px;
  border: 1px #598d66 solid ;
}

 .text-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  
}

.text-btn-wrapper:hover{
 background-color: #88c999;

}

 .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #f4f6f5;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

 .text-btn-wrapper {
  background-color: #d4e8d9;
  display: inline-flex;
  align-items: flex-start;
  padding: 10px 20px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 20px;
  border: 1px #598d66 solid ;
}

 .text-wrapper-5 {
  margin-top: -1px;
  position: relative;
  width: fit-content;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #2c2d35;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

 .france {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  
  flex: 0 0 auto;
}

.frame-4 {
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  flex: 0 0 auto;
}

.card-art {
  position: relative;
  width: 350px;
  height: 730px;
  background-color: #e1ece5;
}

 .element {
  position: absolute;
  width: 310px;
  height: 422px;
  top: 20px;
  left: 20px;
}

 .primary-btn {
  width: 310px;
  position: absolute;
  display: flex;
  top: 635px;
  left: 20px;
  height: 65px;
  align-items: center;
  justify-content: center;
  border: 1px #598d66 solid;
  background-color: transparent;
}

.primary-btn:hover {
background-color: #f0f3f0;
cursor: pointer;
}

 .text-wrapper-6 {
  width: fit-content;
  display: flex;
  color: #598d66;
  font-size: 20px;
  line-height: normal;
  white-space: nowrap;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  
}

 .text-wrapper-7 {
  position: absolute;
  top: 461px;
  left: 20px;
  color: #86918a;
  font-size: 18px;
  line-height: normal;
  white-space: nowrap;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  letter-spacing: 0;
}

 .text-wrapper-8 {
  position: absolute;
  width: 310px;
  top: 535px;
  left: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #2c2d35;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

 .text-wrapper-9 {
  position: absolute;
  width: 310px;
  top: 492px;
  left: 20px;
  color: #2c2d35;
  font-size: 30px;
  line-height: normal;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  letter-spacing: 0;
}

 .text-wrapper-10 {
  position: absolute;
  top: 586px;
  left: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #598d66;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

 .element-2 {
  object-fit: cover;
  position: absolute;
  width: 310px;
  height: 422px;
  top: 20px;
  left: 20px;
}

 .hero {
  height: 620px;
  top: 100px;
  left: 0;
}

 .frame-5 {
  position: absolute;
  width: 540px;
  height: 331px;
  top: 145px;
  left: 735px;
}

.div-wrapper {
  display: inline-flex;
  position: absolute;
  top: 270px;
  height: 100px;
  align-items: center;
  padding: 20px 60px;
  border: 1px #598d66 solid;
  background-color: transparent;
}

.div-wrapper:hover{
  background-color: #f0f3f0;
}

 .p {
  position: absolute;
  width: 540px;
  top: 170px;
  left: 0;
  color: #86918a;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  letter-spacing: 0;
}

 .ink-house {
  position: absolute;
  width: 540px;
  top: -20px;
  left: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: transparent;
  font-size: 60px;
  letter-spacing: 0;
  line-height: 66px;
}

 .text-wrapper-11 {
  color: #2c2d35;
}

 .text-wrapper-12 {
  color: #598d66;
}

 .layer {
  position: absolute;
  width: 540px;
  height: 620px;
  top: 0;
  left: 165px;
}

.header {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: #e1ece5;
}

 .frame-6 {
  position: absolute;
  width: 20%;
  height: 35px;
  top: 33px;
  left: 165px;
}

 .frame-7 {
  position: absolute;
  display: inline-flex;
  align-items: flex-start;
  width: 70%;
  gap: 60px;
  top: 38px;
  left: 805px;
}

 .text-btn-2 {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

 .frame-8 {
  position: relative;
  flex: 0 0 auto;
}

 .footer {
  position: relative;
  top: 100px;
  left: 0;
  background-color: #e1ece5;
}

 .frame-9 {
  position: absolute;
  width: 143px;
  height: 35px;
  top: 23px;
  left: 165px;
}

 .frame-10 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 93px;
  left: 165px;
}

 .text-wrapper-13 {
  position: relative;
  width: fit-content;
  color: #86918a;
  font-size: 18px;
  line-height: normal;
  white-space: nowrap;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  letter-spacing: 0;
}

 .frame-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

 .frame-13 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 23px;
  left: 1143px;
}

 .text-wrapper-15 {
  position: relative;
  width: 132px;
  margin-top: -1px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #86918a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14.4px;
}

 .text-wrapper-16 {
  position: relative;
  width: 132px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #86918a;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14.4px;
}
.form {
  max-width: 340px;
  padding: 15px;
  margin: 20px auto;
}

input{
  font-family: 'Raleway', sans-serif;
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;

}
.btn-submit {
  border-radius: 20px;
  width: 362px;
  padding: 8px 10px;

font-family: 'Raleway', sans-serif;
  border: 0px;
  background-color: #598d66;
  color: #fff;
}
.btn-submit:hover {
  background-color: #376b44;
}